<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-success">
    <p class="navbar-brand text-center"></p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" style="font-size:30px;cursor:pointer" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:30px;cursor:pointer" [routerLink]="['/create']">Report a
                    Bug</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size:30px;cursor:pointer" [routerLink]="['/']"
                    (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div>
        <button type="button" class="close" style="font-size:30px" aria-label="Close" (click)="goBackToPreviousPage()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- <div class="row" style="text-align:left"> -->
    <div *ngIf="currentIssue">
        <form #editIssueForm="ngForm" (ngSubmit)="editIssue()" data-toggle="validator" novalidate="true">
            <div class="form-group">
                <label class="label">Issue Title</label>
                <input type="text" name="IssueTitle" [(ngModel)]="currentIssue.title" #IssueTitle="ngModel"
                    class="form-control" placeholder="Enter Issue Title" required="required"
                    data-error="Issue must have title" disabled>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="label">Description</label>
                <input type="text" name="IssueDescription" [(ngModel)]="currentIssue.description" #description="ngModel"
                    class="form-control" placeholder="Enter Description for the Issue" required="required"
                    data-error="Issue must Description">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="label">Issue Summary</label>
                <!-- <textarea name="bigDescription" [(ngModel)]="currentIssue.bigDes" id="summary" #bigDes="ngModel"
                        class="form-control" rows="3" required="required"
                        data-error="Issue must have Summary"></textarea> -->
                <ejs-richtexteditor type="text" name="bigDescription" [(ngModel)]="currentIssue.bigDes" id="content"
                    #bigDes="ngModel" class="form-control" rows="4" required="required"
                    placeholder="Enter Content for the Issue" data-error="Please enter Content of the Issue">
                </ejs-richtexteditor>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="label">Status</label>
                <select [(ngModel)]="currentIssue.status" #state="ngModel" name="status" class="form-control" id="state"
                    required="required" data-error="Please Select Issue status">
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="label">Repoter</label>
                <input type="text" name="repoter" [(ngModel)]="currentIssue.creator" #repoter="ngModel"
                    class="form-control" disabled data-error="Repoter name required">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="label">Created on</label>
                <input type="text" name="date" [(ngModel)]="currentIssue.created" #date="ngModel" class="form-control"
                    disabled data-error="date required">
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="label">Assign To</label>
                <select [(ngModel)]="currentIssue.assigned" #assigned="ngModel" name="assigned" class="form-control"
                    id="assigned" required="required">
                    <option *ngFor="let assign of assignee" [value]="assign.email">
                        {{assign.firstName}} {{assign.lastName}} ({{assign.email}})</option>
                </select>
            </div>
            <div class="form-group text-center">
                <input class="submit center-block btn btn-primary" [disabled]="!editIssueForm.form.valid" value="Submit"
                    type="submit">
            </div>
        </form>
    </div>
    <!-- </div> -->
</div>